.dirScanProgress {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.dirScanProgressStatus {
  display: flex;
  align-items: center;
  gap: 5px;
  flex: 1;
  min-width: 0;
}

.dirScanCurrentProcessingFile {
  flex: 1;
  min-width: 0;
  overflow: hidden;
  margin-left: 15px;
}

.dirScanTracksCounter {
  flex-shrink: 0;
  white-space: nowrap;
}
