// Colors
$color-bg: var(--mantine-color-body);
$color-bg-surface: var(--mantine-color-dark-9);
$color-bg-app: var(--mantine-color-dark-7);
$color-bg-card: var(--mantine-color-dark-6);
$color-bg-hover: var(--mantine-color-dark-5);

$color-border: var(--mantine-color-default-border);

$color-text: var(--mantine-color-dark-0);
$color-text-subtle: var(--mantine-color-dark-1);
$color-text-disabled: var(--mantine-color-dark-2);

$color-accent: var(--mantine-color-brand-5);

// Spacing
$spacing-xs: var(--mantine-spacing-xs);
$spacing-sm: var(--mantine-spacing-sm);
$spacing-md: var(--mantine-spacing-md);
$spacing-lg: var(--mantine-spacing-lg);
$spacing-xl: var(--mantine-spacing-xl);

// Typography
$font-family: var(--mantine-font-family);
$font-family-mono: var(--mantine-font-family-monospace);

$font-size-xs: var(--mantine-font-size-xs);
$font-size-sm: var(--mantine-font-size-sm);
$font-size-md: var(--mantine-font-size-md);
